/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/.gitignore
/.idea/deployment.xml
/.idea/llm_material_selection_jcise.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
